.logo-wrapper-link {
  position: absolute;
  top: -4px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
  transition: opacity 0.1s ease-in, transform 0.1s ease-in;
}
.logo-wrapper-link:hover {
  opacity: 0.95;
}
.logo-wrapper-link:active {
  transform: scale(0.95);
}

.logo {
  width: 100%;
}
